@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
}
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #6f00ff;
    --card: #ffffff;
    --card-foreground: 222.2 84% 4.9%;
    --popover: #ffffff;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: #6f00ff;
    --primary-foreground: #ffffff;
    --secondary: #3890f7;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: #6e6777;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --black: #181023;
  }
}
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer components {
  .section_title {
    @apply text-center text-md font-bold lg:leading-xl text-black lg:text-lg;
  }

  p {
    @apply max-sm:!text-sm
  }

  .section_padding {
    @apply py-[4.8rem] md:py-[6.4rem] lg:py-[8.4rem] xl:py-[10rem] 2xl:py-[12rem];
  }
  .contact_box {
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
  }

  .editor {
    @apply text-muted;
    & h1 {
      @apply !text-lg text-black;
    }

    & h2 {
      @apply !text-[3.2rem] text-black;
    }

    & h3 {
      @apply !text-[2.6rem] text-black;
    }
    & p {
      @apply text-sm text-muted;
    }

    & ul {
      @apply list-disc ml-3 pl-10;
    }
    & ol {
      @apply list-decimal ml-3 pl-10;
    }
  }
}

.hero_gradient {
  background: radial-gradient(
    62.66% 147.73% at 50% 0%,
    #9452e9 0%,
    #6f00ff 100%
  );
}

.nav_gradient {
  background: linear-gradient(
    180deg,
    rgba(111, 0, 255, 0.08) 0%,
    rgba(111, 0, 255, 0) 100%
  );
}

.instagram {
  background: linear-gradient(180deg, #7028ce 0%, #ed2a7c 50%, #f9cb35 100%);
}

.about-bg {
  background-image: url("/images/about.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.about-bottom-bg {
  background-image: url("/images/about-bottom.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.heading {
  @apply lg:text-[40px] sm:text-3xl text-2xl font-bold lg:leading-[46px] sm:leading-9 leading-7 text-center text-[#111827] tracking-[0%] ;
}
.Subheading {
  @apply md:text-[20px] text-base font-normal leading-[26px] text-center text-[#717684] tracking-[0%];
}
.example-text {
  @apply text-sm text-[#6F6D71] font-normal leading-5 tracking-[0%] text-center;
}
.bottom-text {
  @apply text-[16px] text-[#6F6D71] font-normal leading-[22px] tracking-[0%] ;
}
.common-text {
  @apply text-[16px] leading-[22px] font-medium !tracking-[0%];
}
/* All shadows */
.authform-shadow {
  box-shadow: 0px 4px 50px 0px #0000000A;
}
.authform2-shadow {
  box-shadow: 0px 4px 50px 0px #00000014;
}
.auth-heading{
  @apply font-inter text-[24px] font-bold  tracking-[0%] leading-[30px] ;
}
.reset-method-selector-shadow {
  box-shadow: 0px 4px 50px 0px #0000000D;
}
.learge-headeing{
  @apply text-[32px] leading-[38px] tracking-[0%] font-semibold text-[#111827];
}

/* Hide scrollbar for webkit browsers */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}